* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  padding: 10px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.itemsNav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  width: 100px;
  height: 70px;
  background-image: url('https://cdn2.vectorstock.com/i/1000x1000/90/11/cat-unicorn-icon-cute-funny-fantasy-animal-vector-25119011.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px;
  box-shadow: 2px -2px 2px 1px rgba(0, 0, 0, 0.2);
  background: black;
}
.footer p {
  text-align: center;
  color: white;
}
.presentation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: #ffe8d6;
}
.presentation {
  width: 50%;

  text-align: center;
}

.counterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 40px 0;
}
